<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h2>Public Space : <%= space.title %></h2>


      <% if(currentUser) { %>
      <% if(currentUser.isAdmin()) { %>
      <a href="/spaces/<%= space.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/spaces/<%= space.id %>/posts/new" class="btn btn-success">New Post</a>

      <form style="display:initial" action="/spaces/<%= space.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      <% } %>

      <p><%= space.description %></p>

      <hr>

      <h1>Posts</h1>

      <ul class="list-group">
        <% space.posts.forEach((post) => { %>
          <li class="list-group-item">
         <a href="/spaces/<%= space.id %>/posts/<%= post.id %>"> <%= post.title %> </a>
       </li>
       <% }) %>
     </ul>

      <!-- fix this!   <form action="#" method="post">
          <div class="form-group">
            <label for="title">Enter Zipcode</label>
            <input type="number" min="10000" max="99999" class="form-control" name="title" aria-describedby="titleHelp" placeholder="zipcode">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form> -->


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
