<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body id="posting">
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <main id="post_page" class="container">
      <div class="post_page_one">

      <h5>Community Resource : <%= space.title %></h4>

      <% if(currentUser) { %>

      <% if(currentUser.isAdmin()) { %>
        <a href="/spaces/<%= space.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/spaces/<%= space.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      <% } %>



      <p><%= space.description %></p>

</div>
      <hr>

<div class="post_page_two">

      <h6>Submit A Resource...</h6>
      <a href="/spaces/<%= space.id %>/posts/new" id="new-resource" class="btn btn-success">New Resource</a>

    </div>

    <hr>

      <ul class="list-group">



          <h5>See what other users have entered: %></h5>


        <% space.posts.forEach((post) => { %>

          <div id="posts">

       <h4>Name: <%= post.title %></h4>
       <p>Location Type: <%= post.spaceTitle %></p>
       <p>Location Address: <%= post.description %></p>
       <p>Location ZIP Code: <%= post.zipcode %></p>
       <p>Additional Details: <%= post.body %></p>

</div>


       <li id="item" class="list-group-item">
         <a href="/spaces/<%= space.id %>/posts/<%= post.id %>"> comments about <%= post.title %> </a>
       </li>


       <% if(currentUser) { %>

     <!---do you want to add?  <a href="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a> -->

       <% if(currentUser.isAdmin()) { %>
         <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
           <button type="submit" class="btn btn-danger">Delete</button>
         </form>
       <% } %>
       <% } %>

       <% }) %>
     </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
