<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>

  </head>

  <body id="comments" >
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

      <main id="commments" class="container">
        <div id="content">
        <header class="jumbotron my-4">
        <div id="comments-post">

      <h2 id="comments">Name: <%= post.title %></h2>

       <hr>

        <p>Location Type: <%= post.spaceTitle %></p>
        <p>Location Address: <%= post.description %></p>
        <p>Location ZIP Code: <%= post.zipcode %></p>
        <p>Additional Details: <%= post.body %></p>
      </div>


      <% if(currentUser) { %>
        <% include ../flags/flag.ejs %>
        <% } %>
      </header>


        <hr id="comments">


        <section id="comment-form">
          <% if(currentUser) { %>
            <% include ../comments/new.ejs %>
          <% } %>
         </section>

        <header class="jumbotron my-4">
         <section id="comment-list">
          <% if(post.comments) { %>
            <% post.comments.forEach((comment) => { %>
              <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
          <% } %>
         </section>
       </header>

  <!--    <% if(currentUser) { %>

        <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      <% } %> -->

    </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
