<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body id="search">
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <main id="search" class="container">
      <div id="content">

        <% posts.forEach((post) => { %>
          <header class="jumbotron my-4">

       <h2 id="search"><%= post.title %></h2>

       <hr>

       <h5>Location type: <%= post.spaceTitle %></h5>
       <p>Location Address: <%= post.description %></p>
       <p>Location ZIP Code: <%= post.zipcode %></p>
       <p>Additional Details: <%= post.body %></p>

        </header>

       <% if(currentUser) { %>
         <!--    <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
         <button type="submit" class="btn btn-danger">Delete</button>
       </form> -->
      <% } %>

    <% }) %>
    </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
