<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">


      <% posts.forEach((post) => { %>

      <h1>Name: <%= post.title %></h1>
      <p>Location Address: <%= post.description %></p>
      <p>Location Zipcode: <%= post.zipcode %></p>
      <p>Additional Details: <%= post.body %></p>

          <% }) %>


      <% if(currentUser) { %>

      <% if(currentUser.isAdmin()) { %>
        <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>
      <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
