<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>

  </head>

  <body  id="comments" >
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>



    <main id="commments" class="container">

<div id="comments-post">

      <h1 id="comments">Name: <%= post.title %></h1>
        <p>Location Type: <%= post.spaceTitle %></p>
      <p>Location Address: <%= post.description %></p>
      <p>Location ZIP Code: <%= post.zipcode %></p>
      <p>Additional Details: <%= post.body %></p>
    </div>

    <% if(currentUser) { %>
     <% include ../flags/flag.ejs %>
   <% } %>

      <hr id="comments">

      <section id="comment-form">

       <!-- #1 -->
          <% if(currentUser) { %>
            <% include ../comments/new.ejs %>
          <% } %>
         </section>

       <!-- #2 -->
         <section id="comment-list">
          <% if(post.comments) { %>
            <% post.comments.forEach((comment) => { %>

       <!-- #3 -->
              <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
          <% } %>
         </section>


  <!--    <% if(currentUser) { %>


        <form style="display:initial" action="/spaces/<%= post.spaceId %>/posts/<%= post.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      <% } %> -->


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
